ody {
    background-color: #111827;
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 50px;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 30px;
}

p {
    font-size: 18px;
}
